.coustum_nav{
    background-color: linear-gradient(to right red , orange);
}

body{
    height:100vh;
    
}
.travel{
    width: 80%;
    margin:  12px auto;
    padding: 12px;
    height: 30rem;
    border-radius: 12px;
    /* background-color: aqua; */
    box-shadow: 0 2.98256px 7.4564px rgba(0,0,0,0.1)
}
.travelpallete{
    height: 30rem;
    width: 100%;

}

.travelpallete img{
    width:40%;
    height: 80%;
    margin: 12px;
    border-radius: 12px;
    
}
.travelDescption{
    width: 60%;
    padding: 20px;
    text-align: left;

}

.travelDescption a{
    text-decoration: none;
    margin-left: 55px;

}